<!-- Footer -->
<footer class="footer text-right">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                2016 © Docker.
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->
</div>
<!-- container -->
</div>
<!-- End wrapper -->
<script>
    var resizefunc = [];
</script>
<!-- jQuery  -->
<script src="/static/assets/js/jquery.min.js"></script>
<script src="/static/assets/js/tether.min.js"></script>
<!-- Tether for Bootstrap -->
<script src="/static/assets/js/bootstrap.min.js"></script>
<script src="/static/assets/js/waves.js"></script>
<script src="/static/assets/js/jquery.nicescroll.js"></script>
<script src="/static/assets/plugins/switchery/switchery.min.js"></script>
<!--Morris Chart-->
<script src="/static/assets/plugins/morris/morris.min.js"></script>
<script src="/static/assets/plugins/raphael/raphael-min.js"></script>
<!-- Counter Up  -->
<script src="/static/assets/plugins/waypoints/lib/jquery.waypoints.js"></script>
<script src="/static/assets/plugins/counterup/jquery.counterup.min.js"></script>

<!-- App js -->
<script src="/static/assets/js/jquery.core.js"></script>
<script src="/static/assets/js/jquery.app.js"></script>
</body>

</html>